<template>
 
  <div id="app"  >
      <image-input-preview-vue title="Select Image For Search" :onChange="startSearch"  class="card"/>
    
    <br/><br/>
    <div class="results">
        <div
            v-for="photo in images"
            :key="photo.id"
            class="card"
        >
            <img
                    :src="photo.url"
                    :title="photo.name"
                    class="mg-photo"
            />
            <div class="container">
                <label>{{photo.name}}</label>
            </div>    
        </div>
    </div>
  </div>
</template>

<script>
import ImageInputPreviewVue from '@/components/ImageInputPreview.vue'
import {search} from '@/services/api'
export default {
  name: 'Search',
  components:{
      ImageInputPreviewVue
  },
  data() {
    return {
      images: [
      ]
    }
  },
  methods: {
    getExtImage(filename){
      const vector =  filename.split('.')
      if(vector != 2)
        return "jpeg"
      return vector[1]
    },
    startSearch(image){
      search(image,data => {

        let id = 0
        this.images = []
        for(const image of data){
          this.images.push({
            'id':id,
            'name': image.headers['name'].split('-',2)[1],
            'url':  "data:image/"+this.getExtImage(image.headers['filename'])+";base64," + image.content
          })

          id++
        }
      })

    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display:inline-block;
  
  margin:10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img{
  height: 200px;
  
}
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

</style>
