<template>
 
  <div id="app" class="p-2 w-full rounded-l-lg rounded-r-lg sm:rounded-r-none border sm:border-r-0 border-gray-300 bg-white outline-none" >
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
   <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css'>

  

  <div class="container animated bounce">
    <div >
          <label>{{title}}</label>
    </div>
    <form id="form1" runat="server">
      <div class="alert"></div>
      <div id='img_container'>
        <img id="preview" v-if="url" :src="url" />
      </div>
      <div class="custom-file">
        <input id="inputGroupFile01" class="imgInp custom-file-input" type="file" :accept="accept" @change="onFileChange" />
        <label class="custom-file-label" for="inputGroupFile01">{{filename}}</label>
      </div>
      
      
    </form>
  </div>

</div>
</template>

<script>


export default {
  name: 'ImageInputPreview',

  props: {
    accept: String,
    title: String,
    onChange: Function,
  },
  data() {
    return {
      url: null,
      filename: "Choose File"
    }
  },
  methods: {
    onFileChange(e) {
      const file = e.target.files[0]
      //const file = files[0]
      this.url = URL.createObjectURL(file)
      this.filename = file.name
      this.onChange(file)
    },

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
  margin-left:auto;
  margin-right:auto;  
}
#form1{
  width:auto;
}
.alert{
  text-align:center;
}

#preview{  
  max-height:256px;
  height:auto;
  width:auto;
  display:block;
  margin-left: auto;
   margin-right: auto;
  padding:5px;
}
#img_container{
  border-radius:5px;
  width:auto;  
}
.input-group{  
  margin-left:calc(calc(100vw - 100%)/2);
  margin-top:40px;
}
.imgInp{  
  margin-top:10px;
  padding:10px;
  background-color:#d3d3d3;  
}
.loading{
   animation:blinkingText ease 2.5s infinite;
}

.custom-file-label{
  cursor:pointer;
}

</style>
